.card-shadow {
    box-shadow: 0px 21px 76px 34px rgba(228,229,240,0.43);
    -webkit-box-shadow: 0px 21px 76px 34px rgba(228,229,240,0.43);
    -moz-box-shadow: 0px 21px 76px 34px rgba(228,229,240,0.43) ;
}

