.brands {
  position: relative;
  font-weight: 500;
}
.brands::before {
  position: absolute;
  content: "";
  left: 12rem;
  top: 60%;

  width: 200px;

  height: 1px;
  background-color: black;

  
}

/* @media screen and (min-width: 768px) {
  .testimonial {
    position: relative;
    font-weight: 500;
  }

  .testimonial::before {
    position: absolute;
    content: "";
    left: 1rem;
    top: 60%;
    width: 200px;
    height: 0.5px;
    background-color: black;
  }
} */
.testimonial {
  position: relative;
  font-weight: 500;
}

.testimonial::before {
  position: absolute;
  content: "";
  left: 10rem;
  top: 60%;
  width: 200px;
  height: 0.5px;
  background-color: black;
}
