/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans+Mono:wght@300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Noto+Sans+Mono:wght@300;400;500;600;800;900&family=Roboto:wght@400;500;700;900&display=swap');
* {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
/* font-family: 'Noto Sans Mono', monospace; */
}

body{
  position: relative;
  min-height: 100vh;
}


html {
  scroll-behavior: smooth;
}
/* .desktop{
  display: none;
} */
.landing-header{
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .landing-header{
font-size: 40px;
  }
  
}

@media screen and (min-width: 1024px) {
  .landing-header{
font-size: 60px;
line-height: 3.5rem;
  }
  
}

@media screen  and (min-width:1280){
  .landing-header{
    font-size: 65px;
    line-height: 3.5rem;
      }
  
}
@media screen and (min-width: 768px) {
 .mobile{
   display: none;

 }
 .desktop{
   display: block;
 }
}